version: "3"

services:
  #######################################
  # Ocelotwebapigateway app + Dapr sidecar
  #######################################
  identityapp:
    image: vndg/identityapp-ca:latest
    build:
      context: .
      dockerfile: App/Identity/Dockerfile
    ports:
      - "7001:5001"
    environment:
      - ConnectionStrings__DefaultConnection=Server=sql_server2022,1433;Database=Identity;User Id=sa;Password=123456A@;TrustServerCertificate=true;
      - ASPNETCORE_Kestrel__Certificates__Default__Password=123456A@
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    depends_on:
      - redis
      - placement
    networks:
      - tv-network
    volumes:
      - /mnt/d/Projects/clean-architecture-dotnet/https:/https

  identityapp-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "identityapp",
        "-app-port",
        "5001",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - identityapp
    network_mode: "service:identityapp"

  #######################################
  # Ocelotwebapigateway app + Dapr sidecar
  #######################################
  ocelotwebapigatewayapp:
    image: vndg/ocelotwebapigateway-ca:latest
    build:
      context: .
      dockerfile: App/OcelotAPIGateway/Dockerfile
    ports:
      - "7050:5050"
    depends_on:
      - redis
      - placement
      - productapi
      - customerapi
      - settingapi
    networks:
      - tv-network

  ocelotwebapigatewayapp-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "ocelotwebapigatewayapp",
        "-app-port",
        "5000",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - ocelotwebapigatewayapp
    network_mode: "service:ocelotwebapigatewayapp"
  #######################################
  # webapigateway app + Dapr sidecar
  #######################################
  webapigatewayapp:
    image: vndg/webapigateway-ca:latest
    build:
      context: .
      dockerfile: App/AppGateway/Dockerfile
    ports:
      - "7000:5000"
    depends_on:
      - redis
      - placement
      - productapi
      - customerapi
      - settingapi
    networks:
      - tv-network

  webapigatewayapp-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "webapigatewayapp",
        "-app-port",
        "5000",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - webapigatewayapp
    network_mode: "service:webapigatewayapp"

  #######################################
  # product app + Dapr sidecar
  #######################################
  productapi:
    image: vndg/productapi-ca:latest
    build:
      context: .
      dockerfile: App/Product/ProductService.Api/Dockerfile
    depends_on:
      - redis
      - placement
      - postgresql
    environment:
      - ConnectionStrings__postgres=Server=postgresql;Port=5432;Database=postgres;User Id=postgres;Password=P@ssw0rd;
      - "Logging__LogLevel__AM.Infrastructure.TransactionalOutbox.Dapr.Internal.TransactionalOutboxProcessor=Trace"
    ports:
      - "7003:5003"
    networks:
      - tv-network

  productapi-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "productapi",
        "-app-port",
        "5003",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - productapi
    network_mode: "service:productapi"

  #######################################
  # customer app + Dapr sidecar
  #######################################
  customerapi:
    image: vndg/customerapi-ca:latest
    build:
      context: .
      dockerfile: App/Customer/CustomerService.Api/Dockerfile
    depends_on:
      - redis
      - placement
      - postgresql
    environment:
      - ConnectionStrings__postgres=Server=postgresql;Port=5432;Database=postgres;User Id=postgres;Password=P@ssw0rd;
      - "Logging__LogLevel__AM.Infrastructure.TransactionalOutbox.Dapr.Internal.TransactionalOutboxProcessor=Trace"
    ports:
      - "7004:5004"
    networks:
      - tv-network

  customerapi-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "customerapi",
        "-app-port",
        "5004",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - customerapi
    network_mode: "service:customerapi"

  #######################################
  # settings app + Dapr sidecar
  #######################################
  settingapi:
    image: vndg/settingapi-ca:latest
    build:
      context: .
      dockerfile: App/Setting/SettingService.Api/Dockerfile
    depends_on:
      - redis
      - placement
      - postgresql
    environment:
      - ConnectionStrings__postgres=Server=postgresql;Port=5432;Database=postgres;User Id=postgres;Password=P@ssw0rd;
    ports:
      - "7005:5005"
    networks:
      - tv-network

  settingapi-dapr:
    image: "daprio/daprd:edge"
    command:
      [
        "./daprd",
        "-app-id",
        "settingapi",
        "-app-port",
        "5005",
        "-placement-host-address",
        "placement:50006",
        "-components-path",
        "/components",
      ]
    volumes:
      - "./App/components/:/components"
    depends_on:
      - settingapi
    network_mode: "service:settingapi"

  ############################
  # PostgresQL component
  ############################
  postgresql:
    image: postgres:latest
    container_name: postgresql
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=P@ssw0rd
    ports:
      - "5432:5432"
    networks:
      - tv-network

  mssql:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    container_name: sql_server2022
    ports: # not actually needed, because the two services are on the same network
      - "1433:1433" 
    environment:
      - ACCEPT_EULA=y
      - SA_PASSWORD=123456A@
    networks:
    - tv-network

  ############################
  # Dapr placement service
  ############################
  placement:
    image: "daprio/dapr"
    command: ["./placement", "-port", "50006"]
    ports:
      - "50006:50006"
    networks:
      - tv-network

  ############################
  # Redis state store
  ############################
  redis:
    image: "redis:alpine"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG
    ports:
      - "6379:6379"
    networks:
      - tv-network

networks:
  tv-network:
