@page "/products"
@attribute [Authorize]
@inject ProductClient client


<h1>Product List</h1>
@if (products == null)
{
  <p><em>Loading...</em></p>
}
else
{
  @products
}

@code {
  private ResultDto<ListResultDto<ProductDto>>? products;

  protected override async Task OnInitializedAsync()
  {
    products= await client.GetProductsAsync();
  }
}
















