@page "/products"
@attribute [Authorize]
@inject IHttpClientFactory ClientFactory
@inject IAccessTokenProvider TokenProvider


<h1>Product List</h1>
@if (examples == null)
{
  <p><em>Loading...</em></p>
}
else
{
  @examples
}

@code {
  private ResultDto<ListResultDto<ProductDto>>? examples;


  protected override async Task OnInitializedAsync()
  {
    @* var headers = new Metadata();
var accessTokenResult = await TokenProvider.RequestAccessToken();
var AccessToken = string.Empty;
if (accessTokenResult.TryGetToken(out var token))
{
AccessToken = token.Value;
headers.Add("Authorization", $"Bearer {AccessToken}");
} *@


    var client = ClientFactory.CreateClient("gateway");

    var examples =
    await
    client.GetFromJsonAsync<ResultDto<ListResultDto<ProductDto>>>("gateway/product-api/v1/products");
  }
}
